/* Fixed header */

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #555;
    padding: 10px;
    color: #fff;
    z-index: 1000;
}
.fixed-header{
    top: 0;
    left:0;
}
.fixed-footer{
    bottom: 0;
    left:0;
}

/* Toolbar */

.toolbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; /* left aligned */
    align-items: stretch; /* vertical middle */
}
.toolbar-label {
    margin-right: 5px;
}
.form-element {
    margin-right: 20px
}
.form-element.orderby {
    padding-top: 2px;
}

/* Panel */

.panel {
    border: 3px solid #ccc;
    width:300px;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
}
.panel-header {
    padding: 10px;
    background-color: #eee;
}
.panel-body {
    overflow-y: scroll;
    position:relative;
}

/* Tooltip */

.tooltip {
    display: none; 
    position: absolute; 
    padding: 10px;
    color: #777; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3); 
    border-radius: 3px;
    z-index: 1000;
}

/* Field */

.field {
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    cursor: default;
}
.field div {
    color: #777; 
    font-size: 1em;
}
.field div.field-label {
    flex-grow:1;
    margin-right: 10px;
}
.field div.field-datatype {
    text-transform: uppercase;
    text-align: left;
    margin-right: 10px;
}
.field div.field-maxlength {
    text-align: right;
    width: 50px;
}
.icon:before {
    content: "";
    display: block;
    background: url("tag.png") no-repeat;
    width: 20px;
    height: 12px;
    float: left;
    margin: 3px 6px 0 0;
}
.field.selected {
    background-color: yellow;
}
.field.matched {
    background-color: greenyellow;
}

/* SVG elements */

#svg-canvas {
    z-index: 0;
    position:absolute;
    top:50px;
    left:0px
}
.selected-line {
    stroke: #94d31b; 
}
.svg-connector {
    stroke: #94d31b; 
    fill: #94d31b;
}
.svg-connector.selected {
    stroke: red; 
    fill: red;
}
.svg-connector rect {
    /* size change is animated */
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
    stroke: none;
}
.svg-connector.selected.anim rect {
    width: 25px;
}
.svg-connector g text {
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    fill: white;
    stroke: none;
}
.svg-connector g text.anim {
    display: block;
}

/* Meta data */

.meta {
    color: #777;
}
.meta .meta-label {
    font-weight:bold;
}
.meta .meta-desc {
    margin-bottom: 10px;
}
.meta .meta-info {
    display: flex;
    flex-flow: column;
    justify-content: flex-start; 
}
.meta .meta-info .meta-field {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch; 
}
.meta .meta-info .meta-field .meta-key {
    width: 100px;
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
}
.meta .meta-info .meta-field .meta-val {
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
    text-align:left;
    max-width: 300px;
}