.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #555;
    padding: 10px;
    color: #fff;
    z-index: 1000;
}
.fixed-header{
    top: 0;
    left:0;
}
.fixed-footer{
    bottom: 0;
    left:0;
}

.toolbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; /* left aligned */
    align-items: stretch; /* vertical middle */
}
.toolbar-label {
    margin-right: 5px;
}
.form-element {
    margin-right: 20px
}
.form-element.orderby {
    padding-top: 2px;
}


.panel {
    border: 3px solid #ccc;
    width:300px;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    /*width: 300px;*/
    /*display: inline-block;
    margin-right: 200px;*/
}
.panel-header {
    padding: 10px;
    background-color: #eee;
}
.panel-body {
    /*padding: 10px 20px;*/
    max-height:200px;
    overflow-y: scroll;
    z-index: 10;
    position:relative;
}

.clear {
    clear:both;
}
.field {
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}
.field div {
    color: #ccc;
    font-size: 1em;
}
.field div.field-label {
    flex-grow:1;
    margin-right: 10px;
}
.field div.field-datatype {
    text-transform: uppercase;
    text-align: left;
    margin-right: 10px;
}
.field div.field-maxlength {
    text-align: right;
    width: 50px;
}

.icon:before {
    content: "";
    display: block;
    background: url("tag.png") no-repeat;
    width: 20px;
    height: 12px;
    float: left;
    margin: 3px 6px 0 0;
}

.selected {
    background-color: yellow;
}
.matched {
    background-color: greenyellow;
}

#svg-canvas {
    z-index: 0;
    position:absolute;
    top:50px;
    left:0px
}

.selected-line {
    stroke: #94d31b; 
}

.svg-connector {
    stroke: #94d31b; 
    fill: #94d31b;
}
.svg-connector.selected {
    stroke: red; 
    fill: red;
}
.svg-connector rect {
    /* size change is animated */
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
    stroke: none;
}
.svg-connector.selected.anim rect {
    width: 25px;
}
.svg-connector g text {
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    fill: white;
    stroke: none;
}
.svg-connector g text.anim {
    display: block;
}
/*
.svg-connector.selected.anim g text {
    display: block;
}
*/